@{
    ViewBag.Title = "Appoinment History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>


<!-- CSS CDN -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />
<!-- datetimepicker jQuery CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js">
</script>


<h2>Create an Appointment</h2>
<div class="form-group" style="display:none;">
  <input id="txtAppId" class="form-control" name="AppId">
</div>
<div class="form-group">
  <label for="Name">Name:</label> <input id="txtName" class="form-control" name="Name">
</div>
<div class="form-group">
  <label for="Email">Email:</label> <input id="txtEmail" class="form-control" name="Email">
</div>
<div class="form-group">
  <label for="PhoneNo">PhoneNo:</label> <input id="txtPhoneNo" class="form-control" name="PhoneNo">
</div>
<div class="form-group">
    <label for="StartDate">StartDate:</label> <input id="txtStartDate" class="form-control datetimepicker" name="StartDate">
</div>
<div class="form-group">
    <label for="EndDate">EndDate:</label> <input id="txtEndDate" class="form-control datetimepicker" name="EndDate">
</div>
<div class="form-group">
    <label for="Date">Date:</label> <input id="txtDate" class="form-control datetimepicker"  name="Date">
</div><br>
<div class="text-center panel-body">
  <button id="btnSave" onclick="SaveAppoinment()" type="button" class="btn btn-sm btn-primary">Create New Appointment</button>
</div>

<button onclick="LoadAll()" class="btn btn-primary">Load Appointment</button>
<br>
<div style="margin-bottom 20px;">
    <input type="file" id="input" accept=".xls,.xlsx" style="float:left;"/>
    <button id="btnUpload" type="button" class="btn btn-sm btn-primary" style="margin-right:10px; float:right">Upload</button>
    </div>
<h2>Appointment List:</h2>
<table id="tblAppointment" class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
        <th>AppId</th>
        <th>Name</th>
        <th>Email</th>
        <th>PhoneNo</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Date</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



    <script type="text/javascript" >
       

    var _appoints =[],
    _appoint = null,
    _headers =[];

    
    $(document).ready(function () {

       alert("Document Load");
       
    });

    //Upload File//
    function Upload() {
        alert("Upload");
            if (_appoints.length > 0) {
                var ajaxRequest = $.ajax({
                    url: "../AppointmentDtls/UploadAllAppointments/",
                    type: "POST",
                    data: { oappoints: _appoints },
                    datatype: "json",
                    beforeSend: fuction(){

                },
                });
            ajaxRequest.done(function (data) {
                alert("Successfully saved.");

            });
            ajaxRequest.fail(function (jqXHR, textStatus) {
                alert("error found");
                alert('error title', 'error info', 'error');
            });
            }
            else { 
                alert("No data found."); 
            }
    }
    function Init() {
        alert("Init");
        _appoint = NewAppointmentObj();

        $("#btnUpload").click(function () {
            Upload();
        });
        $("#input").on("change", function (e){
            var file = e.target.files[0];
            if (!file) return;

            var FR = new FileReader();
            FR.onload = function (e) {
                var data = new Uint8Array(e.target.result);
                var workbook = XLSX.read(data, { type: 'array' });
                var firstsheet = workbook.Sheets[workbook.SheetNames[0]];
                var result = XLSX.utils.sheet_to_json(firstsheet, { header: 1 });
            };
            FR.readAsArrayBuffer(file);
            $("#input").val("");
        });

    }
    //Upload File//

    function LoadAll() 
    { 
        alert("hi load");
        $.ajax({  
            type: "GET",  
            url: "/AppointmentDtls/GetAppointmentDetails",  
            contentType: "application/json; charset=utf-8",  
            dataType: "json",  
            success: function (data){  

                alert(JSON.stringify(data)); 
                alert(data.appid);
                
                $.each(data, function (i, item) {

                    $("#tblAppointment tbody").append("<tr id=" + item.appId + ">"
                        + "<td>" + item.appId + "</td>"
                        + "<td>" + item.name + "</td>"
                        + "<td>" + item.email + "</td>"
                        + "<td>" + item.phoneNo + "</td>"
                        + "<td>" + item.startDate + "</td>"
                        + "<td>" + item.endDate + "</td>"
                        + "<td>" + item.date + "</td>"
                        + "<td>"
                        + "     <button class='btn-success' onclick='Edit(" + item.appId + ")' style='margin-right:5px;'>Edit</button>"
                        + "     <button class='btn-danger' onclick='Delete(" + item.appId + ")'>Delete</button>"
                        + "</td>"
                        + "</tr>");
                        });
            }, //End of AJAX Success function  
            
            failure: function (data) {  
                alert(data.responseText);  
            }, //End of AJAX failure function  
            error: function (data) {  
                alert(data.responseText);  
            } //End of AJAX error function  

        });
    }

    function SaveAppoinment() 
    { 
        alert("Save");
            var txtName = $("#txtName").val();
            var txtEmail = $("#txtEmail").val();
            var txtPhoneNo = $("#txtPhoneNo").val();
            var txtStartDate = $("#txtStartDate").val();
            var txtEndDate = $("#txtEndDate").val();
            var txtDate = $("#txtDate").val();
           
            var _appointments = {};
            _appointments.Name = txtName;
            _appointments.Email = txtEmail;
            _appointments.PhoneNo = txtPhoneNo;
            _appointments.StartDate = txtStartDate;
            _appointments.EndDate = txtEndDate;
            _appointments.Date = txtDate;
            alert(_appointments);
            alert("hi load");
        $.ajax({  
            type: "POST",  
            url: "/AppointmentDtls/AddUpdateAppointment",
            data: JSON.stringify(_appointments),
            contentType: "application/json; charset=utf-8",  
            dataType: "json",  
            success: function (data){  

                 
                LoadAll();
            }, //End of AJAX Success function  

            failure: function (data) {  
                alert(data.responseText);  
            }, //End of AJAX failure function  
            error: function (data) {  
                alert(data.responseText);  
            } //End of AJAX error function  

        });
        
    }

    function Edit(aapId) {
        alert("Edit");
        if (aapId > 0) {

            $.ajax({
                type: 'GET',
                url: '/AppointmentDtls/GetAppointment?appId=' + aapId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    
                    $("#txtName").val(data.name);
                    $("#txtEmail").val(data.email);
                    $("#txtPhoneNo").val(data.phoneNo);
                    $("#txtStartDate").val(data.startDate);
                    $("#txtEndDate").val(data.endDate);
                    $("#txtDate").val(data.date);
                    
                }, //End of AJAX Success function

                failure: function (data) {
                    alert(data.responseText);
                }, //End of AJAX failure function
                error: function (data) {
                    alert(data.responseText);
                } //End of AJAX error function

            });

        }

    }

    function Delete(aapId) {
        alert("Delete");
        if (aapId > 0) {
            $.ajax({
                type: 'DELETE',
                url: '/AppointmentDtls/DeleteAppointment?appId=' + aapId,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (data) {
                    alert("delete");
                    $("#" + aapId).remove();
                },
                error: function (ex) {
                    console.log("Error in operation");
                }
            });
        }

    }

    

</script>

